.home {
  height: 4200px;
  width: 200vh;
}

.home__info {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.home__info h1,
.home__info h2,
.home__info h3,
.home__info p {
  font-family: Share;
  font-style: normal;
  font-weight: normal;
  line-height: 169.69%;
  text-align: left;
  color: #14384f;
}

@media (min-width: 768px) {
  .home__image {
    height: 20rem;
  }
}

.intro {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 148vh;
  left: 10vh;
  overflow:visible;
}

.owl-icon {
  position: absolute;
  top: 14vh;
  right: 40vh;
}

.welcome-text {
  position: absolute;
  top: 14vh;
  left: 20vh;
}

.welcome-text h1 {
  font-size: 80px;
}

.welcome-text h2 {
  font-size: 60px;
}

.goodbye-text {
  position: absolute;
  top: 295vh;
  align-content: center;
}

.about-buttom img {
  width: 200%;
}

.with-friends-text {
  position: absolute;
  top: 368vh;
  right: 5vh;
}

.with-friends-text h2 {
  font-size: 50px;
}

.goodbye-text h2 {
  font-size: 60px;
}

.friends {
  position: absolute;
  top: 329vh;
  left: 0vh;
}

.create-account {
  width: 50vh;
  height: 5vh;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-anchor {
  position: absolute;
  top: 0vh;
}

.intro-anchor {
  position: absolute;
  top: 135vh;
}

.about-anchor {
  position: absolute;
  top: 285vh;
}
