.course-item {
  margin: 1rem;
}

.course-item button{
  background-color: transparent;
  border-color: transparent;
}

.course-item__info {
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.course-item__info--all {
  width: 274px;
  height: 175px;
}

.course-item__info--user {
  background: #7ac2bb;
  width: 274px;
  height: 339px;
  text-align: center;
}

.course-item__info--user_disabled {
  background: #ccc;
  width: 274px;
  height: 339px;
  text-align: center;
}

.course-item__info-item {
  margin: 0rem;
}

.course-item__info h2,
.course-item__info h3,
.course-item__info p {
  font-size: 1.5rem;
  margin: 0 0 0 0;
  font-weight: normal;
  color: #000000;
}

.course-item__info button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ffffff;

  padding-top: 18px;
  padding-left: 25px;

  position: absolute;
  right: 20px;
  bottom: 50px;
}

.course-item__info-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course-item__info-info p {
  font-family: Share;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

.course-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0);
}

.course-item__modal-content {
  padding: 0;
  margin: 10px;
}

.course-item__modal-actions {
  text-align: right;
}

.course-item__actions button,
.course-item__actions a {
  margin: 0.5rem;
}

.course-subjects {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .course-item__image {
    height: 20rem;
  }
}

.course-problems-list__modal-header {
  background: #7ac2bb;
  border-radius: 6px 6px 0 0;
}
