.codearea {
  margin: 0;
  height: 75vh;
  padding: 0;

  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
}

.answer-pane {
  height: 100vh;
}

.item-relative {
  position: absolute;
  right: 20px;
  top: 100px;
}

.answer-footer {
  height:25vh;
  padding: 10px;
  position: relative;
  clear: both;
}



